
@{
    ViewBag.Title = "Index";
}

<h2>Foi criado o ficheiro "Refugiados_locais.csv" contendo a informação local de todos os cidadãos refugiados</h2>

<div>
    @Html.ActionLink("Voltar", "IndexUser", "Home")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
