
@{
    ViewBag.Title = "Mensagem";
}

<h2>Foram adicionados os registos de campo</h2>

<div>
    @Html.ActionLink("Voltar", "IndexAdmin", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
